.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
venv
__pycache__
*.py[cod]
*.egg-info
build
dist
bftools
converted
reports
tests
docs
*.vsi
*.VSI
*.mrxs
*.MRXS
*.svs
*.SVS
*.ndpi
*.NDPI
*.ome.tif
*.ome.tiff
*.ome.TIF
*.ome.TIFF
report-*.json
report-*.csv
